<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.net.yunlou.bole.mapper.ResumesTemplateComponentMapper">

    <resultMap id="BaseResultMap" type="cn.net.yunlou.bole.entity.ResumesTemplateComponent">

        <!-- ResumesTemplate 特有字段 -->
        <result column="name" property="name"/>
        <result column="key" property="key"/>

        <!-- JSON 类型字段，使用 typeHandler -->
        <result column="styles" property="styles"
                typeHandler="cn.net.yunlou.bole.common.handler.JsonbTypeHandler"/>
        <result column="props" property="props"
                typeHandler="cn.net.yunlou.bole.common.handler.JsonbTypeHandler"/>

        <result column="default_config" property="defaultConfig"
                typeHandler="cn.net.yunlou.bole.common.handler.JsonbTypeHandler"/>

    </resultMap>
    <select id="selectListByTemplateId" resultMap="BaseResultMap">
        select *
        from t_resumes_template_component
        where template_id = #{templateId}
    </select>

</mapper>