<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.net.yunlou.bole.mapper.ResumesTemplateMapper">

    <resultMap id="resumesTemplateResultMap" type="cn.net.yunlou.bole.entity.ResumesTemplate">
        <id property="id" column="id"/>
        <result property="deleted" column="deleted"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>

        <result property="name" column="name"/>
        <result property="code" column="code"/>
        <result property="description" column="description"/>
        <result property="previewImage" column="preview_image"/>
        <result property="isActive" column="is_active"/>
        <result property="version" column="version"/>
        <result property="globalStyle" column="global_style"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result property="layout" column="layout"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <collection property="components" column="id"
                    select="cn.net.yunlou.bole.mapper.ResumesTemplateComponentMapper.selectListByTemplateId"/>
    </resultMap>
</mapper>