/* 颜色变量 */
$primary-color: #d4af37;
$secondary-color: #f7ef8a;
$success-color: #67c23a;
$warning-color: #e6a23c;
$danger-color: #f56c6c;
$info-color: #909399;

$text-primary: #303133;
$text-regular: #606266;
$text-secondary: #909399;
$text-placeholder: #c0c4cc;

$border-color: #dcdfe6;
$border-color-light: #e4e7ed;
$border-color-lighter: #ebeef5;
$border-color-extra-light: #f2f6fc;

$background-color: #f8f8f8;
$background-color-white: #ffffff;

/* 尺寸变量 */
$border-radius: 15rpx;
$border-radius-small: 10rpx;
$border-radius-round: 50%;

$padding-base: 30rpx;
$padding-small: 20rpx;
$padding-mini: 15rpx;

$margin-base: 30rpx;
$margin-small: 20rpx;
$margin-mini: 15rpx;

/* 字体大小 */
$font-size-extra-large: 40rpx;
$font-size-large: 36rpx;
$font-size-medium: 32rpx;
$font-size-base: 28rpx;
$font-size-small: 24rpx;
$font-size-extra-small: 20rpx;

/* 平台特定变量 */
// #ifdef MP-WEIXIN
$tabbar-height: 100rpx;
$navigation-bar-height: 88rpx;
// #endif

// #ifdef APP
$tabbar-height: 120rpx;
$navigation-bar-height: 96rpx;
// #endif

// #ifdef H5
$tabbar-height: 80rpx;
$navigation-bar-height: 64rpx;
// #endif

/* 阴影 */
$box-shadow: 0 4rpx 20rpx rgba(0, 0, 0, 0.05);
$box-shadow-light: 0 2rpx 12rpx rgba(0, 0, 0, 0.03);
$box-shadow-dark: 0 8rpx 40rpx rgba(0, 0, 0, 0.08);

/* 动画 */
$transition-duration: 0.3s;
$transition-timing-function: ease-in-out;